{% macro card2(cover_url, title, link, description) -%}
    <div class="card" style="margin: 20px 0 10px 0;">
        <img src="{{cover_url}}" class="card-img-top" alt="..." style="max-height: auto; max-width: 120px; margin-left: 20px;">
        <div class="card-body" style="max-height: auto; max-width: 250px">
            <h5 class="card-title">{{title}}</h5>
            <a href="{{link}}" target=_blank>More</a>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
{%- endmacro %}
