{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-page" align="center">
    <div class="row">
        <div class="col">
            <h1>Contact Details</h1>
            <p>
                Phone: +353 87 387 9780<br>
                Email: dan.adrian0000@gmail.com<br>
                <a href="https://www.linkedin.com/in/danadrian1459/" target="_blank">Linkedin Profile</a><br>
                <a href="https://github.com/dany1459" target="_blank">Github Profile</a>
            </p>
        </div>
        <div class="col">
            <img src="static/contact-details-qrcode.png" style="max-width: 300px;" alt="">
        </div>
    </div><br><br>

    <form method="POST">
        <h1>Get in Touch</h1>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Name">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            <textarea name="message" id="message" class="form-control" rows="5" placeholder="Your Message"></textarea>
        </div><br>
        <button type="submit" class="btn btn-primary" id="contact-button">Send Message</button>
    </form>
</div>
{% endblock %}
