{% extends "base.html" %}
{% from "components/card.html" import card %}
{% from "components/card2.html" import card2 %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="header" align="center">
        <header class="row">
            <div class="col"><br><br>
                <h1 class="myname">Dan Adrian Dobre</h1><br>
                <p>I am a data scientist with a passion for football, cooking and traveling.</p>
            </div>
            <div class="col">
                <img src="static/profile_picture.jpg" style="max-width: 300px; border-radius: 150px;">
            </div>
        </header>
    </div>

    <div class="about">
        <h3>About Me</h3>
        <div class="row">
            <div class="col-xs-1">
                {{card2('static/education.png', 
                    "Al. D. Ghica College of Sciences 2003-2007",
                    "https://www.facebook.com/Liceul-Teoretic-Alexandru-Ghica-Alexandria-830767510327046/")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/education.png', 
                    "Carol Davila Medical University 2007 - 2013",
                    "https://umfcd.ro")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/work.png', 
                    'Chef at Hornsjoe Hoyfjellshotell Aug 2014 - Mar 2016',
                    "https://www.hornsjoe.no")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/volunteer.png', 
                    'Volunteer at DAPP Zambia May 2016 - Sept 2016',
                    'http://dappzambia.org')}}
            </div>
            <div class="col-xs-1">
                {{card2('static/work.png', 
                    "Chef at Trenta Pizza Feb 2017 - Jan 2018",
                    "https://www.trentapizza.ro")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/education.png', 
                    "Horeca School for Chefs Jun 2017 - Sept 2017",
                    "https://horecaschool.ro")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/work.png', 
                    "Head Chef at Flash Harry's Feb 2018 - Mar 2020",
                    "https://www.flashharrys.ie")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/work.png', 
                    "Chef at Hartley's Restaurant Jul 2020 - Jun 2021",
                    "http://hartleys.ie")}}
            </div>
            <div class="col-xs-1">
                {{card2('static/education.png', 
                    'Strive School Sep 2021 - May 2022',
                    'https://epicode.com')}}
            </div>
        </div>
    </div>

    <div class="projects">
        <h3>Data Science Projects</h3>
        <div class="row">
            <div class="col-xs-1">
                {{card('static/credit-card.jpg', 
                    'Credit Card Fraud', 
                    'https://github.com/dany1459/AI-Engineering/blob/main/Chapter%202/07.%20SVM/04_BONUS_credit_card_fraud_kaggle.ipynb')}}
            </div>
            <div class="col-xs-1">
                {{card('static/hipocrate.jpg', 
                    'Hipocratia', 
                    'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%202/09.%20Hipocratia')}}
            </div>
            <div class="col-xs-1">
                {{card('static/trackit_fitness.png', 
                    'Trackit Fitness App', 
                    'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%202/Trackit%20Fitness%20App')}}
            </div>
            <div class="col-xs-1">
                {{card('static/yoga_silhouette.jpg', 
                    'Fitness Pygame', 
                    'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%203/17.%20Fitness%20Pygame')}}
            </div>
            <div class="col-xs-1">
                {{card('static/best_books.jpg', 
                    'Best Books Analysis', 
                    'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%201/Best%20Books%20Ever%20Challenge')}}
            </div>
            <div class="col-xs-1">
                {{card('static/self-driving-car.jpg', 
                    'Self-Driving Cars', 
                    'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%203/09.%20Computer%20Vision%20Team%20Project')}}
            </div>
        </div>
    </div>

{% endblock %}
