:root {
    --background-color: #131B23;
    --primary-color: #FFFAFF;
    --secondary-color: #5BC8AF;
    --tertiary-color: crimson;
    --new-background-color: #435058;}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}


body, .card {
    background: var(--new-background-color);
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border: 0px;}
h1, h2, h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;}
h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;}
a {
    color: var(--secondary-color);
    font-weight: bold;}
a:link {
    text-decoration: none;}


#navigation-bar {
    background-color: var(--secondary-color);
    position: relative;}
#navigation-bar a {
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);}
#navigation-bar a:hover, a:hover {
    color: var(--tertiary-color);}


#contact-button, #signup-button, #login-button, #add-note-button, #similars-button, #predict-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    border: solid 1px var(--secondary-color);}
#contact-button:hover, #signup-button:hover, #login-button:hover, #add-note-button:hover, #similars-button:hover, #predict-button:hover  {
    background-color: var(--background-color);
    color: var(--primary-color);}


.footer {
    margin: 0px 20px 20px 20px;
    font-size: 15px;
    font-weight: bold;}
.footer img {
    width: 50px;
    height: 50px;
    margin: 5px 5px 0 5px;}


#notes {
    color: var(--background-color);
    font-weight: bold;}
#individual-note {
    margin: 2px;}


.about, .projects, .header {
    margin: 0 10% 0 10%;}
.header, .projects {
    padding: 20px 0 100px 0;}


.contact-page, .login-page, .signup-page, .notes-page, .capstone-page {
    margin: 0 10% 0 10%;
    padding: 20px 0 50px 0;}
label {
    padding: 10px 0 0px 0;}


table th {
    text-align: left;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;}
table td {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;}
table tr:nth-child(even) td {
    background-color: var(--background-color);}
.form-control {
    max-width: 1000px;
    margin: 20px;}


.prediction-result {
    color: var(--tertiary-color);
    font-weight: bold;}
